In [21]:
import pandas as pd
import numpy as np
import os
import collections

In [3]:
data_dir = os.path.join(os.getenv("DATA_DIR"), "narrative_understanding/ao3")

In [7]:
tags_file = os.path.join(data_dir, "tags-20210226.csv")
works_file = os.path.join(data_dir, "works-20210226.csv")

In [8]:
tags_df = pd.read_csv(tags_file, index_col=None)
works_df = pd.read_csv(works_file, index_col=None)

In [10]:
display(tags_df.head())
print(tags_df.shape)

,id,type,name,canonical,cached_count,merger_id
0,1,Media,TV Shows,True,910,NaN
1,2,Media,Movies,True,1164,NaN
2,3,Media,Books & Literature,True,134,NaN
3,4,Media,Cartoons & Comics & Graphic Novels,True,166,NaN
4,5,Media,Anime & Manga,True,501,NaN

(14467138, 6)

In [11]:
display(works_df.head())
print(works_df.shape)

,creation date,language,restricted,complete,word_count,tags,Unnamed: 6
0,2021-02-26,en,False,True,388.0,10+414093+1001939+4577144+1499536+110+4682892+...,NaN
1,2021-02-26,en,False,True,1638.0,10+20350917+34816907+23666027+23269305+2326930...,NaN
2,2021-02-26,en,False,True,1502.0,10+10613413+9780526+3763877+3741104+7657229+30...,NaN
3,2021-02-26,en,False,True,100.0,10+15322+54862755+20595867+32994286+663+471751...,NaN
4,2021-02-26,en,False,True,994.0,11+721553+54604+1439500+3938423+53483274+54862...,NaN

(7269693, 7)

In [22]:
tags_df = tags_df[tags_df["name"] != "Redacted"]
tags_df.sort_values("cached_count", inplace=True, ascending=False)
print(f"tags.shape = {tags_df.shape}")

tags.shape = (1621975, 6)

In [23]:
collections.Counter(tags_df["type"])

Counter({'ArchiveWarning': 6,
         'Category': 8,
         'Rating': 6,
         'Freeform': 463965,
         'Fandom': 58822,
         'Character': 386635,
         'Relationship': 674687,
         'UnsortedTag': 37834,
         'Media': 12})

In [24]:
print("ArchiveWarning: ", tags_df.loc[tags_df["type"] == "ArchiveWarning", "name"].unique())

ArchiveWarning:  ['No Archive Warnings Apply' 'Choose Not To Use Archive Warnings'
 'Graphic Depictions Of Violence' 'Major Character Death' 'Rape/Non-Con'
 'Underage']

In [25]:
print("Category: ", tags_df.loc[tags_df["type"] == "Category", "name"].unique())

Category:  ['M/M' 'F/M' 'Gen' 'F/F' 'Multi' 'Other' 'M/F - Category' 'М/М']

In [30]:
tags_df.loc[tags_df["type"] == "Character", "name"]

24                           Dean Winchester
2663                              Tony Stark
5975                            Steve Rogers
1535                            Harry Potter
2458                     Original Characters
                          ...
6089588        Francis Barber (c. 1742-1801)
6089586                         Harold Bates
1355433          Yusuf (Mission: Impossible)
11481909                     Adrienne Berene
11482274    Franz Kafka (Rusty Quill Gaming)
Name: name, Length: 386635, dtype: object

In [31]:
tags_df.loc[tags_df["type"] == "Freeform", ["name", "cached_count"]].to_csv(
    os.path.join(data_dir, "freeform_tags.csv"), index=False)